<div class="color-bar-container" >
  <p></p>
</div>
<div class="container">
  <div class="left-column">
    <h1></h1>
  </div>
  <div class="footer-container">
    <div class="novo-pharm-container">
      <img style="margin-left: 13px;margin-top: 50px;" class="icon-novo-pharm"
        src="assets/image/footer/iconFooter1.png">
      <figcaption style="font-size: 35px;height: 36px;margin-top:-47px;">NOVO</figcaption>
      <figcaption style="font-size: 30px;height: 36px;margin-top:-62px;">PHARM</figcaption>
    </div>
    <div class="title-container">
      <p style="margin-top: 0px;">TẬN TÂM CHO SỰ </p>
      <p style="margin-top: -15px;">SÁNG TẠO & CHẤT LƯỢNG</p>
    </div>
    <div *ngIf="isWindowWidthLessThan768" class="title-new-container">
      <p style="margin-top: 0px;">TẬN TÂM CHO SỰ SÁNG TẠO & CHẤT LƯỢNG</p>
    </div>
    <div class="contact-guid">
    <div class="contact-container">
      <p style="margin-top: 0%;margin-left: 2%; font-size: 13px;">LIÊN HỆ</p>
      <div class="local-container">
        <img style="width: 9px;height: 12px;margin-right: 5px;" src="assets/image/footer/Asset 22.png">
        <p class="title-contact">Đường Hoàng Quốc Việt,</p>
      </div>
      <p style="margin-left: 15px;" class="title-contact">Cầu Giấy, TP Hà Nội</p>
      <div class="local-container">
        <img style="width: 9px;height: 12px;margin-right: 5px;" src="assets/image/footer/Asset 25.png">
        <p class="title-contact">1800.2082</p>
      </div>
      <div class="local-container">
        <img style="width: 9px;height: 12px;margin-right: 5px;" src="assets/image/footer/Asset 29.png">
        <p class="title-contact">093.693.2426</p>
      </div>
      <div class="local-container">
        <img style="width: 10px;height: 10px;margin-right: 5px;" src="assets/image/footer/Asset 34.png">
        <p style="margin-top: -3px;" class="title-contact">mktnovopharm@gmail.com</p>
      </div>
    </div>
    <div class="shopping-guid-container">
      <p style="margin-top: 0%;margin-left: 2%; font-size: 13px;">HƯỚNG DẪN MUA HÀNG</p>
      <p class="title-contact">> Các câu hỏi thường gặp</p>
      <p class="title-contact">> Hướng dẫn đặt hàng </p>
      <p class="title-contact">> Phương thức vận chuyển</p>
      <p class="title-contact">> Chính sách đổi trả</p>
      <p class="title-contact">> Chính sách bảo mật</p>
    </div>
    </div>
    <div class="certificate-container">
      <img class="certificate" src="assets/image/footer/iconFooter2.png">
      <div class="iconNewWork-container">
        <img class="icon"   src="assets/image/footer/iconFb.png">
        <img class="icon2"  src="assets/image/footer/iconIns.png">
        <img class="icon" src="assets/image/footer/iconYoutube.png">
      </div>
    </div>
    <div>

    </div>

  </div>
  <div class="right-column">
    <h1></h1>
  </div>
</div>
<div class="last-footer-container" >
  <br/>
  <p style="color: white;margin-top: 0%">© 2021 - Bản quyền thuộc về Công ty TNHH NovoPharm</p>
</div>
