
<div class="container">
  <div class="left-column">
    <h1></h1>
  </div>

  <div class="function-container">
    <div class="promotion-container">
      <div class="icon">
        <img  src="assets/image/Gift.png">
      </div>
      <a class="linkfucntion" href="">CHƯƠNG TRÌNH <br/> KHUYẾN MẠI
      <p class="text">Vui lòng đăng nhập hoặc tạo tài khoản <br/> để theo dõi thông tin của bạn</p></a>
    </div>
    <div class="loyal-customer-container">
      <div class="icon">
        <img src="assets/image/heart.png">
      </div>
      <a class="linkfucntion" href="">CHƯƠNG TRÌNH <br/> KHÁCH HÀNG THÂN THIẾT
        <p class="text">Vui lòng đăng nhập hoặc tạo tài khoản <br/> để theo dõi thông tin của bạn</p></a>
    </div>
    <div class="following-order-container">
      <div class="icon-following">
        <img src="assets/image/followingOrder.png">
      </div>
      <a class="linkfucntion-following" href="">THEO DÕI <br/> ĐƠN ĐẶT HÀNG<br/>
        <p class="text">Vui lòng đăng nhập hoặc tạo tài khoản <br/> để theo dõi thông tin của bạn</p></a>
    </div>
  </div>

  <div *ngIf="isWindowWidthLessThan768" class="function-new-container">
    <div class="promation-linkfunction">
    <div class="promotion-container">
      <div class="icon">
        <img  src="assets/image/Gift.png">
      </div>
      <a class="linkfucntion" href="">CHƯƠNG TRÌNH <br/> KHUYẾN MẠI
      <p class="text">Vui lòng đăng nhập hoặc tạo tài khoản <br/> để theo dõi thông tin của bạn</p></a>
    </div>
    <div class="following-order-container">
      <div class="icon-following">
        <img src="assets/image/followingOrder.png">
      </div>
      <a class="linkfucntion-following" href="">THEO DÕI <br/> ĐƠN ĐẶT HÀNG<br/>
        <p class="text">Vui lòng đăng nhập hoặc tạo tài khoản <br/> để theo dõi thông tin của bạn</p></a>
    </div>
  </div>
    <div class="loyal-customer-container">
      <div class="icon">
        <img src="assets/image/heart.png">
      </div>
      <a class="linkfucntion" href="">CHƯƠNG TRÌNH <br/> KHÁCH HÀNG THÂN THIẾT
        <p class="text">Vui lòng đăng nhập hoặc tạo tài khoản <br/> để theo dõi thông tin của bạn</p></a>
    </div>
  </div>

  <div class="right-column">
    <h1></h1>
  </div>
</div>
