
<div class="container">
  <div class="left-column">
    <h1></h1>
  </div>
  <div class="mecdical-container">
    <h1 style="margin-top: 50px;color: #08BFBF;"> Y KHOA</h1>
    <div class="medical-posts-container">
      <div *ngFor="let item of visiblePostMedical" class="posts">
        <div class="image-Medical">
          <img class="image" [src]="item.url" alt="Image">
        </div>
        <div class="date-post">{{item.date}} </div>
        <div class="title-post">{{item.title}} </div>
        <div class="detail-post">{{item.detail}} </div>
        <a class="go-detail" href="">xem thêm ></a>
      </div>
    </div>
    <div *ngIf="isWindowWidthLessThan768" class="medical-posts-new-container">
      <div *ngFor="let item of visiblePostMedicalNew" class="posts">
        <div class="image-Medical">
          <button class="button-left-image" (click)="prev()">&lt;</button>
          <img class="image" [src]="item.url" alt="Image">
          <button class="button-right-image" (click)="next()">&gt;</button>
        </div>
        <div class="date-post">{{item.date}} </div>
        <div class="title-post">{{item.title}} </div>
        <div class="detail-post">{{item.detail}} </div>
        <a class="go-detail" href="">xem thêm ></a>
      </div>
    </div>
  </div>
  <div class="right-column">
    <h1></h1>
  </div>
</div>
<div class="picture-medical-container">
  <div class="left-column">
    <h1></h1>
  </div>
<div class="picture-container">
  <img class="picture" src="assets/image/medicalBig/medicalBigPicture1.png">
  <div class="col" style="width: 30px;"></div>
  <img class="picture" src="assets/image/medicalBig/medicalBigPicture2.png">
</div>
<div class="right-column">
  <h1></h1>
</div>
</div>

